<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>ADMIN all users</title>
</head>
<body class="bg-light" style="height: 100vh;">
<header>
    <div class="container-fluid bg-dark"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
        <div class="row">
            <div class="col-6 text-white"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                <h3 th:text="${authUser}"></h3></font></font></div>
            <div class="col-6 d-flex justify-content-end "><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                <form th:method="POST" th:action="@{/logout}">
                    <button type="submit" class="btn btn-link text-white-50 content-button ">Logout</button>
                </form>

            </font></font></div>
        </div>
    </font></font></div>
</header>
<section class="container-fluid h-100 ">
    <div class="row h-100 d-flex align-items-start">
        <div class="col-2 d-flex flex-column p-0 h-100 bg-white ">
            <input th:if="${authUser.contains('ADMIN')}" type="button" value="Admin" onclick="window.location.href = 'showUser'"
                   class="btn btn-link active bg-primary mt-3 text-white aria-selected=true" style="text-align: start;"/>
            <input th:if="${authUser.contains('USER')}" type="button" value="User" onclick="window.location.href = '/user'"
                   class="btn btn-link bg-white text-primary aria-selected=false" style="text-align: start;"/>
        </div>
        <div class="col-10 bg-light d-flex flex-column ">
            <div style="width: 90%; margin: auto;">
                <h1>Admin panel</h1>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li>
                        <input type="button" value="Users Table" onclick="window.location.href = 'showUser'"
                               class="nav-link active bg-white text-primary"/>
                    </li>
                    <li>
                        <input type="button" value="New User" onclick="window.location.href = 'addNewUser'"
                               class="nav-link"/>
                    </li>
                </ul>
                <div class="border border-end bg-white">
                    <h2 class="border p-3 m-0 bg-light">All users</h2>
                    <div style="width: 95%;">
                        <table class="table table-borderless table-striped mt-3 mb-5">
                            <thead class="border border-left-0 border-right-0" >
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Age</th>
                                <th scope="col">Email</th>
                                <th scope="col">Role</th>
                                <th scope="col">Edit</th>
                                <th scope="col">Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                            <th:block th:each="user : ${userList}">
                                <tr>
                                    <td th:text="${user.id}"></td>
                                    <td th:text="${user.firstName}"></td>
                                    <td th:text="${user.lastName}"></td>
                                    <td th:text="${user.age}"></td>
                                    <td th:text="${user.username}"></td>
                                    <td th:text="${user.roliToString()}"></td>
                                    <td>
                                        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#editModal"
                                                th:data-target="${'#editModal' + user.id}">Edit</button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal"
                                                th:data-target="${'#deleteModal' + user.id}">Delete</button>
                                    </td>
                                    <!--МОДАЛЬНОЕ ОКНО ПРАВКА ЮЗЕРОВ-->
                                    <div aria-hidden="true" aria-labelledby="editModalLabel" id="editModal"
                                         tabindex="-1" class="modal fade" th:id="${'editModal'+user.id}">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <form th:method="PATCH"
                                                      th:action="@{/admin/edit/{id}(id=${user.id})}"
                                                      th:object="${user}">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="editModalLabel">Edit
                                                            user</h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body text-center">
                                                        <div class="form-group required">
                                                            <div class="controls">
                                                                <label class="form-label text-center mb-0 mt-2 w-100" style="font-weight: 700;font-size: 16px;" for="id">ID</label>
                                                                <input th:name="id"
                                                                       th:value="${user.id}"
                                                                       type="number"
                                                                       class="form-control" id="id"
                                                                       disabled>
                                                                <label class="form-label text-center mb-0 mt-2 w-100" style="font-weight: 700;font-size: 16px;" for="username">First name</label>
                                                                <input th:name="firstName"
                                                                       th:value="${user.firstName}"
                                                                       type="text"
                                                                       class="form-control" id="username"
                                                                       required/>
                                                                <label class="form-label text-center mb-0 mt-2 w-100" style="font-weight: 700;font-size: 16px;" for="lastnameEdit">Last name</label>
                                                                <input th:name="lastName"
                                                                       th:value="${user.lastName}"
                                                                       type="text"
                                                                       class="form-control" id="lastnameEdit"
                                                                       required/>
                                                                <label class="form-label text-center mb-0 mt-2 w-100" style="font-weight: 700;font-size: 16px;" for="ageEdit">Age</label>
                                                                <input th:name="age"
                                                                       th:value="${user.age}"
                                                                       type="number"
                                                                       class="form-control"
                                                                       id="ageEdit"/>
                                                                <label class="form-label text-center mb-0 mt-2 w-100" style="font-weight: 700;font-size: 16px;" for="emailEdit">Email</label>
                                                                <input th:name="username"
                                                                       th:value="${user.username}"
                                                                       type="email"
                                                                       class="form-control" id="emailEdit"
                                                                       required/>
                                                                <label class="form-label text-center mb-0 mt-2 w-100" style="font-weight: 700;font-size: 16px;" for="password">Password</label>
                                                                <input th:name="password"
                                                                       type="password"
                                                                       th:value="${user.password}"
                                                                       class="form-control"
                                                                       id="password"/>
                                                                <label class="form-label text-center mb-0 mt-2 w-100" style="font-weight: 700;font-size: 16px;" for="rolesEdit">Role</label>
                                                                <select class="form-control"
                                                                        id="rolesEdit"
                                                                        name="roles"
                                                                        multiple="multiple">
                                                                    <option th:each="role : ${roleList}"
                                                                            th:selected="${user.roliToString().contains(role.name.substring(5)) }"
                                                                            th:value="${role.id}"
                                                                            th:text="${role.name.substring(5)}">Role name
                                                                    </option>
                                                                </select>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                    <button type="submit" class="btn btn-primary">Edit</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <!--МОДАЛЬНОЕ ОКНО УДАЛЕНИЯ ЮЗЕРОВ-->
                                    <div aria-hidden="true" aria-labelledby="editModalLabel" id="deleteModal"
                                         tabindex="-1" class="modal fade" th:id="${'deleteModal'+user.id}">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <form th:method="DELETE"
                                                      th:action="@{/admin/delete/{id}(id=${user.id})}"
                                                      th:object="${user}">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="deleteModalLabel">Edit
                                                            user</h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body text-center">
                                                        <div class="form-group required">
                                                            <div class="controls">
                                                                <label class="form-label text-center mb-0 mt-2 w-100" style="font-weight: 700;font-size: 16px;" for="id1">ID</label>
                                                                <input th:name="id"
                                                                       th:value="${user.id}"
                                                                       type="number"
                                                                       class="form-control" id="id1"
                                                                       disabled>
                                                                <label class="form-label text-center mb-0 mt-2 w-100" style="font-weight: 700;font-size: 16px;" for="username1">First name</label>
                                                                <input th:name="firstName"
                                                                       th:value="${user.firstName}"
                                                                       type="text"
                                                                       class="form-control" id="username1"
                                                                       disabled
                                                                       required/>
                                                                <label class="form-label text-center mb-0 mt-2 w-100" style="font-weight: 700;font-size: 16px;" for="lastname1">Last name</label>
                                                                <input th:name="lastName"
                                                                       th:value="${user.lastName}"
                                                                       type="text"
                                                                       class="form-control" id="lastname1"
                                                                       required
                                                                       disabled/>
                                                                <label class="form-label text-center mb-0 mt-2 w-100" style="font-weight: 700;font-size: 16px;" for="age1">Age</label>
                                                                <input th:name="age"
                                                                       th:value="${user.age}"
                                                                       type="number"
                                                                       class="form-control"
                                                                       id="age1"
                                                                       disabled/>
                                                                <label class="form-label text-center mb-0 mt-2 w-100" style="font-weight: 700;font-size: 16px;" for="email1">Email</label>
                                                                <input th:name="username"
                                                                       th:value="${user.username}"
                                                                       type="email"
                                                                       class="form-control" id="email1"
                                                                       disabled/>
                                                                <label class="form-label text-center mb-0 mt-2 w-100" style="font-weight: 700;font-size: 16px;" for="password1">Password</label>
                                                                <input th:name="password"
                                                                       type="password"
                                                                       th:value="${user.password}"
                                                                       class="form-control"
                                                                       id="password1"
                                                                       disabled/>
                                                                <label class="form-label text-center mb-0 mt-2 w-100" style="font-weight: 700;font-size: 16px;" for="roles1">Role</label>
                                                                <select class="form-control"
                                                                        id="roles1"
                                                                        name="roles"
                                                                        multiple="multiple"
                                                                        disabled>
                                                                    <option th:each="role : ${roleList}"
                                                                            th:selected="${user.roliToString().contains(role.name.substring(5)) }"
                                                                            th:value="${role.id}"
                                                                            th:text="${role.name.substring(5)}">Role name
                                                                    </option>
                                                                </select>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                    <button type="submit" class="btn btn-danger">Delete</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>


                                </tr>
                            </th:block>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>






<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>